@import "loader.sass"  
@import "nothing.sass"

@font-face 
    font-family: "Comfortaa-Light"
    src: url("fonts/Comfortaa-Light.ttf") format("truetype")
    font-weight: normal
    font-style: normal
@font-face 
    font-family: "Comfortaa-Medium"
    src: url("fonts/Comfortaa-Medium.ttf") format("truetype")
    font-weight: normal
    font-style: normal
html
    font-size: 62.5%
    font-family: "Comfortaa-Medium"
    background: rgb(0, 64, 107)
*
    margin: 0
    padding: 0
    box-sizing: border-box
p
    font-size: 1rem
h1
    font-size: 3rem
h2
    font-size: 2rem
h3 
    font-size: 1.5rem

.App
    text-align: center
    width: 100%
    height: 100vh
    background-color: #d1fff4
.nav
    position: fixed
    width: 100%
    height: 8rem
    background: rgb(0, 75, 146)
    background: url(img/movfon-01.png) right / cover no-repeat
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    box-shadow: 0px 3px 5px black
    z-index: 5
    &__logo
        width: 30rem
        height: 110%
        display: flex
        align-items: center
        justify-content: center
        background: url(img/MovLogo-01.svg) center / cover no-repeat
        scale: 80%
    &__h1
        text-align: center
        font-size: 3rem
        color: white
        font-family: "Comfortaa-Light"


.footer
    width: 100%
    height: 7rem
    background: rgb(0, 64, 107)
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    box-shadow: 0px -3px 5px black
    position: fixed
    bottom: 0rem
    z-index: 8

    &__logo
        width: 21rem
        height: 7rem
        display: flex
        align-items: center
        justify-content: center
        background: url(img/MovLogo-01.svg) center / cover no-repeat
    p
        font-size: 1.3rem
        text-align: center
        color: white
        margin: 1rem
        font-family: "Comfortaa-Light"
    &__text
        display: flex
        align-items: center
        flex-direction: column
        a
            text-decoration: none
            color: white
            font-size: 1.3rem
.search
    width: 100%
    height: 6vh

    &__box
        width: 100%
        height: 95%
        display: flex
        align-items: center
        justify-content: flex-end
        position: relative


    &__input
        text-align: left
        width: 95%
        height: 3.5rem
        margin-right: 5%
        border: none
        border-radius: 7px
        outline: none
        padding: 0.5rem
        box-shadow: 0px 3px 5px black
    &__btn
        position: absolute
        top: 0.7rem
        width: 4rem
        height: 4rem
        border-radius: 50%
        background: #005a70
        color: white
        border: none
        display: inline-block
        transition: All 0.1s
        box-shadow: 0px 3px 5px black
        &:hover
            background: #007997
    &__btn2
        position: absolute
        bottom: -50%
        left: 83%
        width: 4rem
        height: 4rem
        border-radius: 50%
        background: #005a70
        color: white
        border: none
        display: inline-block
        transition: All 0.1s
        box-shadow: 0px 3px 5px black
        z-index: 20
        &:hover
            background: #007997
            
        &:active
            scale: 95%
            box-shadow: 0px 0px 2px black
            background: #004455
    &__btn3
        position: absolute
        bottom: -50%
        left: 74%
        width: 4rem
        height: 4rem
        border-radius: 50%
        background: #005a70
        color: white
        border: none
        display: inline-block
        transition: All 0.1s
        box-shadow: 0px 3px 5px black
        z-index: 10

        &:hover
            background: #007997
            
        &:active
            scale: 95%
            box-shadow: 0px 0px 2px black
            background: #004455


.nothing
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 50%
    height: 10%  
    h3
        color: white
        text-align: center  
        font-size: 3rem
        font-family: "Comfortaa-Light" 





.content
    width: 100%
    min-height: 78vh
    max-height: auto
    background: rgb(0, 64, 107)
    position: relative

.boxcard
    position: relative
    top: 11rem
    margin: 0 auto
    width: 80%
    height: 80%
    background: rgb(0, 64, 107)
    padding: 1rem
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 1rem 1rem
    justify-items: center
    margin-bottom: 20rem


.card
    width: 20rem
    height: 32.3rem
    margin: 0.3rem
    background: #dbe9ee
    box-shadow: 2px 2px 4px black
    padding: 0.4rem
    position: relative
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(7, 1fr)
    @media (max-width: 475px) 
        width: 33rem
        height: 55rem
    // justify-self: center
    // align-self: center
    &__poster
        width: 100%
        grid-column: 1/-1
        grid-row: 1/6
        background: #000
        overflow: hidden
    &__type
        color: rgb(0, 64, 107)
        grid-column: 1/4
        grid-row: 6/7
        font-size: 1.5rem
        justify-self: start
        align-self: center
    &__title
        color: rgb(0, 64, 107)
        grid-column: 1/-1
        grid-row: 7/8
        font-size: 2rem
        justify-self: start
        align-self: center
    &__year
        color: rgb(0, 64, 107)
        grid-column: 1/4
        grid-row: 8/9
        font-size: 1.5rem
        justify-self: start
        align-self: center
    &__img
        width: 100%  
        transition: All .2s 
        cursor: pointer
        &:hover
            position: absolute
            width: 100%
            top: 0
            left: 0
            transition: All .2s
            box-shadow: 0px 3px 5px black
            z-index: 4



.selectbar
    position: fixed
    top: 7.1rem
    z-index: 4
    display: flex
    align-items: flex-end
    width: 100%
    height: 3rem
    margin-top: 1rem
    background: rgb(0, 64, 107)


.select
    &__boxsearch
        width: 15%
        height: 30px
        margin-left: 5%
        z-index: 3
        @media (max-width: 570px)  
            width: 50%

        

        &__select
            font-size: 2rem
            color: white
            

    &__box
        display: flex
        width: 100%
        flex-direction: column
        align-content: flex-start
        align-items: flex-start
        padding: 1rem
        background: rgb(0, 72, 121)
        border-radius: 1rem
        box-shadow: 0px 3px 5px black
        label
            color: white
            margin-top: 2px
            margin-bottom: 4px
            font-size: 1.3rem
            width: 100%
            padding: 3px
            &:hover
                background: rgb(0, 97, 161)
                border-radius: 5px
            &:active
                background: rgb(0, 38, 63)
                border-radius: 5px
                
    &__input
        display: none


.searchcont
    &__boxsearch
        width: 40%
        height: 30px
        margin-left: 5%
        z-index: 3
        @media (max-width: 570px)  
            width: 50%
        &__select
            font-size: 2rem
            color: white

.info
    width: 90%
    max-height: min-content
    padding: 2rem
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    color: white
    background: #ffffff
    z-index: 10
    border: 0.1rem solid rgb(0, 97, 161)
    border-radius: 1rem
    box-shadow: 0px 3px 5px black
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr min-content
    justify-items: start
    justify-content: start
    align-content: center
    overflow: hidden


    @media (max-width: 570px) 
        display: block
        // top: 33rem
        margin: 0 auto

    &__poster
        height: 100%
        grid-column: 1/2
        grid-row: 1/-1
        @media (max-width: 570px)
            display: flex
            justify-content: center

        &__img
            width: 100%
            height: auto
            @media (max-width: 570px) 
                width: 80%

    &__content
        grid-column: 2/-1
        width: 100%
        padding: 1rem
        color: black
        font-size: 1.7rem
        display: flex
        flex-direction: column
        &__h1
            margin-bottom: 1.2rem
            @media (max-width: 570px) 
                font-size: 1.5rem
        &__h2
            margin-bottom: 0.8rem
            @media (max-width: 570px) 
                font-size: 1rem
            &__rating
                background: #aca000
                border-radius: 50%
                color: white
                display: flex
                justify-content: center
                align-items: center
                width: 10rem
                height: 10rem
                text-align: center
                box-shadow: 0px 3px 5px black
                font-size: 2.1rem
                @media (max-width: 570px) 
                    font-size: 1.5rem
                    width: 6rem
                    height: 6rem


                // clip-path: polygon(50% 0%, 65% 31%, 98% 35%, 73% 59%, 79% 91%, 50% 78%, 21% 91%, 29% 59%, 2% 35%, 37% 31%)


        &__text
            margin-bottom: 0.8rem
            @media (max-width: 570px) 
                font-size: 1rem
                margin-bottom: 0.5rem
            
        &__close
            text-align: right
            width: 7rem
            height: 7rem
            background: #630000
            border-radius: 50%
            color: white
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            bottom: -2rem
            right: -1rem
            overflow: hidden
            font-size: 7rem
            cursor: pointer

        


        // @media (max-width: 600px) 
        //     width: 50%